extends layout

block content
  h1= title
  p Welcome to my Web Server #{title} <br>
  button(type="button", class="btn btn-primary" onclick="doReduce()") Press Me
  div(id="reduce") Reduce the value.

  a(href="/Houses") Go to Houses
  script. 
    var count = 20;
    var change = -1;
    console.log("lkjlkj")
    function doReduce () {
      count += change 
      change -= 1
      document.getElementById("reduce").innerHTML = "Count " + count + " wtih change " + change 

      }

